<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CAAnimationGroup.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>CABasicAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>CAKeyframeAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>CAKeyframeAnimation2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>CALayer-01-基本使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>CALayer-02-新建图层.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>CALayer-03-锚点&amp;位置点和隐式动画.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>CALayer-04-自定义图层.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>CATransitionTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>view拖拽.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>基本图形.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>核心绘图.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>画板.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>粘性效果.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>音量震动条(复制图层).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>656D5AAF1F42BF06006AEC72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>656D5ACA1F42BF94006AEC72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>656D5AE51F42C434006AEC72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65A4DB581F442A0A009C24DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65A4DB771F443386009C24DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65A4DB921F444597009C24DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65D32E191F413D54005DF1D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65D32E341F41413B005DF1D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65D32E521F414EFD005DF1D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65D32E701F418742005DF1D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65D32E8B1F4194EF005DF1D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65D32EA81F41A36B005DF1D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65D32EC31F41A59D005DF1D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65E724B31F3DA7CE005FBFDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65E724D11F3DA87A005FBFDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
